:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background: linear-gradient(225deg, #ae9eb9 0, #808cf3 100%), linear-gradient(252.2deg, #3f9dff 0, #055db7 100%), linear-gradient(201.52deg, #6cc1ef 0, #0c87c8 100%);
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}